:root {
  color-scheme: dark light;
}

body {
  font-size: 100%;
  height: 600px;
  width: 320px;
  color-scheme: dark light;
  font-family: monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: inherit;
}
